body {
  background-color: yellow;
}
.App {
  text-align: center;
  margin-top: 10%;
  padding-top: 40px;
}
.count-btn {
  color: #fff;
  background-color: #000;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 50px;
}
.bulb {
  padding: 20px;
  margin-right: 300px;
  margin-top: 40px;
}
.bulb-off {
  height: 884px;
  margin-top: -130px;
  padding-top: 128px;
  background-color: #fff;
}
.bulb-btn {
  color: #fff;
  background-color: #000;
  font-size: 16px;
  margin-right: 60px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 50px;
}